@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* VARIABLE */
:root {
    --font-utama: 'Inter';
    --warna-utama: #017DC5;
    --warna-hover: #0068a4;
    --border-utama: #e6e6e6;
    --border-radius-btn: 4px;
    --font-size-btn: 0.8rem;
}

body {
    background: url('/dashindo/assets/img/pushidrosal/main-bg.jpg') no-repeat;
    background-position-x: 100%;
    background-size: auto;
    z-index: -2;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.main-content {
    padding-left: 10rem;
}

footer {
    background: url('/dashindo/assets/img/pushidrosal/footer-bg.png');
    background-repeat: repeat-x;
    /* background-size: contain; */
    position: fixed;
    z-index: -2;
    width: 100%;
    height: 113px;
    bottom: 0;
}

.btn-utama {
    font-family: var(--font-utama) !important;
    font-size: var(--font-size-btn) !important;
    background-color: var(--warna-utama) !important;
    border: 1px solid var(--border-utama) !important;
    font-weight: 400 !important;
    border-radius: var(--border-radius-btn) !important;
}
.btn-utama:hover {
    background-color: var(--warna-hover) !important;
    border-color: var(--border-utama) !important;
}

.big-title {
    align-items: center;
    margin-bottom: 3rem;
}
.big-title-text p {
    font-family: var(--font-utama);
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0;
}
.big-title img {
    align-self: center;
}
.big-title-text h1 {
    font-family: var(--font-utama);
    font-weight: bold;
    color: var(--warna-utama);
    font-size: 3rem;
    margin: 0;
    /* align-self: center; */
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 16px;
}
.card-link {
    height: 140px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
}
.card-link:hover .card-link-text {
    background-color: #017DC5;
}
.card-link:hover {
    background-size: 150%;
}

.card-link-text {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 40px;
    bottom: 0;
    display: grid;
    place-items: center;
    transition: all 0.6s;
}
.card-link-text p {
    color: white;
    font-family: var(--font-utama);
    font-size: 0.8rem;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    line-height: 1;
}

.card-link.enavigasi {
    background: url(/dashindo/assets/img/pushidrosal/enavigasi.jpg) no-repeat;
    background-size: 110%;
    background-position: center;
}
.card-link.enavigasi:hover {
    background-size: 130%;
}
.card-link.msi {
    background: url(/dashindo/assets/img/pushidrosal/msi.jpg) no-repeat;
    background-size: 110%;
    background-position: center;
}
.card-link.msi:hover {
    background-size: 130%;
}
.card-link.isc {
    background: url(/dashindo/assets/img/pushidrosal/isc.jpg) no-repeat;
    background-size: 110%;
    background-position: center;
}
.card-link.isc:hover {
    background-size: 130%;
}
.card-link.hydroedu {
    background: url(/dashindo/assets/img/pushidrosal/hydroedu.jpg) no-repeat;
    background-size: 110%;
    background-position: center;
}
.card-link.hydroedu:hover {
    background-size: 130%;
}
.card-link.sma {
    background: url(/dashindo/assets/img/pushidrosal/sma.jpg) no-repeat;
    background-size: 110%;
    background-position: center;
}
.card-link.sma:hover {
    background-size: 130%;
}
.card-link.bathymetry {
    background: url(/dashindo/assets/img/pushidrosal/3db.jpg) no-repeat;
    background-size: 110%;
    background-position: center;
}
.card-link.bathymetry:hover {
    background-size: 130%;
}
.card-link.eshop {
    background: url(/dashindo/assets/img/pushidrosal/eshop.jpg) no-repeat;
    background-size: 110%;
    background-position: center;
}
.card-link.eshop:hover {
    background-size: 130%;
}

.about-ihdc {
    font-family: var(--font-utama);
    padding: 2rem 0;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 2rem;
}
.about-ihdc h3 {
    font-weight: bold;
    font-size: 1rem;
}
.about-ihdc p {
    font-size: 0.8rem;
    color: #444;
    margin: 0;
}

.foot-note {
    font-family: var(--font-utama);
    font-size: 0.8rem;
}
.foot-note p {
    margin: 0;
}

/* MEDIA SCREEN */
@media only screen and (max-width: 600px) {
    .main-content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    body {
        background-size: contain;
    }
    .big-title-text h1 {
        font-size: 1.9rem;
        text-shadow: 1px 1px white;
    }
    footer {
        bottom: 350px;
        position: absolute;
    }
  }